.btn.btn-success {
    margin-top: 55px;
    padding: 5px 40px;
    border-radius: 27px;
    font-weight: 400;
    text-transform: uppercase;
}



.nav-item .nav-link {
    font-weight: 600;
    color: #333333 !important;
    padding: 10px 20px 10px 20px!important;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-item .nav-link:hover{
    color: #18d26e !important;
}

.nav-item.active .nav-link {
    color: #18d26e !important;
}



.container.menu-top {
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
    margin-left: 60%;
}
.slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
/*=------------ Css Footer -------------=*/

.footer-title {
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid gray;
    position: relative;
    padding: 10px 0 10px 0;
}

.footer-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    background: #18d26e
    ;width: 100px;
}

.footer {
    width: 100%;
    height: 25%;
    background: #111;
    color: #fff;
}

.footer li {
    list-style: none;
    border-bottom: 1px solid gray;
}

.footer li a {
    color: #fff;
}

.footer-icon a {
    font-size: 27px;
    color: #e9e9e9;
    padding: 8px;
}

/*=------------- Back to Top ---------------=*/
.back-to-top {
    position: fixed;
    display: none;
    background: #18d26e;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 2.5;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
    cursor: pointer;
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}
.back-to-top.show-back-to-top:hover{
    background: #18d46e;
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}
.back-to-top.show-back-to-top{
    display: block;
}

/*=------------ Css Reponsive -------------=*/

@media(max-width : 1120px) {
    .navbar-nav {
        margin-left: 46%;
    }
    .carousel-caption.d-none.d-md-block {
    bottom: 100px;
    }
}

@media(max-width: 915px){
    .navbar-nav{
        margin-left:30%;
    }
    img.d-block.w-100{
        height: 80%;
    }

}
@media(max-width: 768px){
    .navbar-nav{
        margin:0;
        padding: 15px 0 15px 0;
    }
    img.d-block.w-100{
        height: 400px;
    }

    .carousel-indicators li{
        display: none;
    }
    
}

@media(max-width : 576px){
    .title{
        font-size : 25px;
    }
    img.d-block.w-100{
        height: 300px;
    }
}


/*=------------ coppy right ------------=*/
.copyright{
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin-top: -26px;
}   

#button {
  display: inline-block;
  background-color: #d6a256;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
  border-radius: 9px;
}

/*=------------ Header Usser------------=*/




ul.navbar-nav > li.info-user-desktop {
    height: 61px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.dropdown-toggle {
    background: transparent !important;
}
#frame-avatar-user {
    height: 45px;
    width: 45px;
}
.frame-avatar {
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.avatar-user.hachium {
    cursor: pointer;
    max-width: 100%;
}
.img-avatar {
    overflow: hidden;
    margin: auto;
    position: absolute!important;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
}
.navbar .nav > li > .dropdown-menu {
    right: auto;
}
.dropdown-menu>li>a {
    padding: 5px 20px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}


